.about {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      line-height: 1.75em;
      font-size: 1.75em;

      &--header {
        transform: all .2s;
        font-family: 'Merriweather', serif;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.25;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 0.75em;
        animation: slideInFromRightText .5s ease-in .1s backwards;
        transform: scaleY(1.5);
      }

      &--paragraph {
        animation: slideInFromRight .5s ease-in .1s backwards;
        text-align: justify;
        width: 80%;
        margin: 1em auto;
        font-size: 1em;
        line-height: 1.5em;
      }
    }

    &__links {
      animation: slideUp .5s .2s ease-in backwards;
      width: 80%;
      display: grid;
      grid-template-columns: 2em auto;
      margin: 1.5em auto;
      letter-spacing: 0.03em;

      i {
        margin-right: .5em;
      }

      a {
        text-decoration: none;
        color: #162434;
      }
    }

    &__image  {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      animation: slideInFromLeft .5s ease-in .1s backwards;

      img {
        width: 70%;
        height: auto;
      }
    }
}

@media (max-width: 975px) {
  .about {
    display: block;

    &__image {
      margin-bottom: 4.5em;
    }

    &__content,
    &__image {
      width: 100%;
    }
  }
}
