.home {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: $gutter;
        margin: 0 auto;
    }

    &__text-container {
        width: 60%;
        padding: 0 1.5em;
    }

    &__paragraph {
        text-align: justify;
        margin-top: 0.75em;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        img {
        width: 90%;
        height: auto;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 33%;
        margin: 1.25em 0;
    }
}

@media (max-width: 900px) {
    .home {
        &__content {
            flex-flow: row-reverse wrap;
            padding: 3.5em 0;
        }

        &__text-container {
            margin-top: 3.5em;
            margin-bottom: 1.5em;
            flex-basis: 100%;
            order: 3;
            text-align: center;
        }

        &__image-container {
            width: 75%;
        }

        &__paragraph {
            margin: 1.5em;
            text-align: center;
        }

        &__icons {
            justify-content: center;
            width: 100%;
            margin: 1.25em 0;
        }

        &__icon:not(:last-child) {
            margin-right: 2em;
        }
    }
}