.home {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: $gutter;
        margin: 0 auto;
    }

    &__text-container {
      width: 50%;
      padding: 0 1.5em;
      .headline-1 {
          animation: fadeIn .7s ease-in .1s backwards;
      }
    }

    &__paragraph {
        animation: slideInLeft .5s ease-in .2s backwards;
        text-align: justify;
        margin-top: 0.75em;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
        width: 80%;
        height: auto;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 33%;
        margin: 1.25em 0;
        margin-top: 1.5em;
    }

    &__icon svg:hover {
      color: $cottonBlue;
      animation: spinRight .3s ease-in;
    }
}

@media (max-width: 900px) {
    .home {
        &__content {
            flex-flow: row-reverse wrap;
            padding: 3.5em 0;
        }

        &__text-container {
            margin-top: 3.5em;
            margin-bottom: 1.5em;
            flex-basis: 100%;
            order: 3;
            text-align: center;
        }

        &__image-container {
            width: 75%;
        }

        &__paragraph {
            margin: 1.5em;
            text-align: center;
        }

        &__icons {
            justify-content: center;
            width: 100%;
        }

        &__icon:not(:last-child) {
            margin-right: 2em;
        }
    }
}
